
.MashupFormHeader {
  background-color: palegoldenrod;
  padding-right: 10px;
}

.form-holder {
  position: fixed;
  padding-right: 10px;
}

.input-group {
  margin-bottom: 10px;
}

#description-input {
  height: 50px;
}